{% extends 'base.html' %} {% load static %} {% block head %}
<link
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css"
  rel="stylesheet"
/>
<script defer src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/ferret-detail.css' %}"
/>
<script defer src="{% static 'js/ferret-detail.js' %}"></script>
{% endblock %} {% block content %}

<section class="ferret-container">
  <div class="ferret-img">
    {% if ferret.photo.url %}
      <img
        src="{{ferret.photo.url}}"
        alt="A photo of {{ferret.name}}"
        class="usr-img"
      >
    {% else %}
    <img
      src="{% static 'images/gangsta-ferret.jpg' %}"
      alt="Gangsta Ferret Picture"
      id="detail-pic"
    >
    {% endif %}
  </div>
  <div class="ferret-details">
    <h1>{{ ferret.name }}</h1>
    {% if ferret.age > 0 %}
    <h2>A {{ ferret.age }} year old {{ ferret.breed }}</h2>
    {% else %}
    <h2>A {{ ferret.breed }} kit.</h2>
    {% endif %}
    <p>{{ ferret.description }}</p>
    <div class="ferret-actions">
      <a href="{% url 'ferrets_update' ferret.id %}" class="btn warn">Edit</a>
      <a href="{% url 'ferrets_delete' ferret.id %}" class="btn danger"
        >Delete</a
      >
    </div>
    <h3>Change {{ ferret.name }}'s photo</h3>
    <p id="file-name"> </p>
    <form
      action="{% url 'add_photo' ferret.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
    {% csrf_token %}
    <label class="btn secondary">
    Choose photo
    <input type="file" name="photo-file" id="file-input">
    </label>
    <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img
        src="{% static 'images/spoon-ferret.png' %}"
        alt="A spoon carrying ferret"
      />
      <img
        src="{% static 'images/ferret-banana.png' %}"
        alt="A ferret on a banana"
      />
      <img
        src="{% static 'images/ferret-french-food.png' %}"
        alt="A french food eating ferret"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' ferret.id %}"
      method="post"
      class="subsection-content"
    >
      {% if ferret.fed_for_today %}
      <p class="fed">{{ferret.name}} has been fed all their meals for today!</p>
      {% else %}
      <p class="unfed">{{ferret.name}} might be hungry!</p>
      {% endif %} 
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    {% if ferret.feeding_set.all.count %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Meal</th>
        </tr>
      </thead>
      <tbody>
        {% for feeding in ferret.feeding_set.all %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.get_meal_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="subsection-content">{{ferret.name}} has never been fed 😟</p>
    {% endif %}
  </section>
<section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>{{ ferret.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if ferret.toys.count %}
        {% for toy in ferret.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'deassoc_toy' ferret.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Take toy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{ferret.name}} doesn't have any toys 😞</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% comment %} We'll display available toys here {% endcomment %}
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'assoc_toy' ferret.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give toy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{ferret.name}} already has all the available toys 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>
</div>

{% endblock %}
