{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/ferret-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="ferret-container">
  <div class="ferret-img">
    <img 
      src="{% static 'images/gangsta-ferret.jpg' %}" 
      alt="Gangsta Ferret Picture"
      id = 'detail-pic'
    >
  </div>
  <div class="ferret-details">
    <h1>{{ ferret.name }}</h1>
    {% if ferret.age > 0 %}
      <h2>A {{ ferret.age }} year old {{ ferret.breed }}</h2>
    {% else %}
      <h2>A {{ ferret.breed }} kit.</h2>
    {% endif %}
    <p>{{ ferret.description }}</p>
    <div class="ferret-actions">
      <a href="{% url 'ferrets_update' ferret.id %}" class="btn warn">Edit</a>
      <a href="{% url 'ferrets_delete' ferret.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}
```