{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/ferret-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Ferret List</h1>
  <img src="{% static 'images/Nerd-Ferret.png' %}" alt="A cool ferret" />
  <img src="{% static 'images/crazy-ferret.png' %}" alt="A happy ferret" />
  <img
    src="{% static 'images/spoon-ferret.png' %}"
    alt="A ferret in a teacup"
  />
  <img
    src="{% static 'images/confused-ferret.png' %}"
    alt="A ferret in a box"
  />
</section>

<section class="card-container">
  {% for ferret in ferrets %}
  <div class="card">
    <a href="/ferrets/{{ ferret.id }}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static 'images/gangsta-ferret.jpg' %}"
            alt="A skater boy ferret"
            id="ferret-pic-placeholder"
          />
        </div>
        <h2 class="card-title">{{ ferret.name }}</h2>
        {% if ferret.age > 0 %}
        <p>A {{ ferret.age }} year old {{ ferret.breed }}</p>
        {% else %}
        <p>A {{ ferret.breed }} kit.</p>
        {% endif %}
        <p><small>{{ ferret.description }}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
